{% extends "base.html" %}
{% load static %}
{% block title %} contacto {% endblock %}

    {% block content %}
    <form action="/contacto/" method="post" class="form-container">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <label for="asunto" class="form-label">Asunto</label>
            <select name="asunto" id="asunto" class="form-select">
              <option value="1">Pregunta</option>
              <option value="2">Problema con cuenta</option>
              <option value="3">Recomendacion</option>
              <option value="4">Otro</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="correo" class="form-label">Correo</label>
            <input type="text" class="form-control" name="correo" id="correo">
        </div>
    </div>
    <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
      </div>
    <div class="row">
        <div class="col">
          <br>
          <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
      </div>
      
    </form> 
    {% endblock %}
