
{% extends "base.html" %}
{% load static %}
{% block title %} index {% endblock %}
    {% block content %}  
    <h2 class="card-title text-center">Noticias</h2>
    {% csrf_token %}
    <h3 class="text-center">Para más información registrate en la página</h3>  
    <div id="carruselNoticias" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" id="mapasValo">
            <div class="carousel-item active">
                <img src="/static/img/parche.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/img/VAL_Final_Argentina.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/img/VAL_TopFrags_14.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/img/VCT_Masters2_Co-streamers_S01.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/img/iShowSpeed.webp" class="d-block w-100" alt="...">
            </div>
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carruselNoticias" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carruselNoticias" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>     
        {% endblock %}