{% extends "base.html" %}
{% load static %}
{% block title %} contacto {% endblock %}
    
  
    {% block content %}
    <form action="/registro/" method="post" class="form-container formulario">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
          </div>
          <div class="col">
            <label for="" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario" name="usuario">
          </div>
          <div class="col">
            <label for="" class="form-label">Correo</label>
            <input type="text" class="form-control" name="correo" id="correo">
          </div>
        </div>
          <div class="col">
            <label for="" class="form-label">Nacionalidad</label>
            <select name="nacionalidad" id="nacionalidad" class="form-select" >
              <option value="1">Chileno</option>
              <option value="2">Venenzolano</option>
              <option value="3">Haitiano</option>
              <option value="4">Colombiano</option>
              <option value="5">Otro</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="" class="form-label">Edad</label>
            <input type="text" class="form-control" id="edad" name="edad">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="" class="form-label">Contraseña</label>
            <input type="password" class="form-control"  name="contrasena" id="contrasena">
          </div>
          <div class="col">
            <label for="" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control"  name="password_confirm" id="password_confirm">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <br>
            <input type="submit" value="Enviar" class="btn btn-primary">
          </div>
        </div>
    
    </form>
    {% endblock %}
